<nav>
    <ul>
        <li><a class="nav_button">Home</a></li>
        <li><a class="nav_button">Custom</a></li>
        <li><a class="nav_button">Sedan</a></li>
        <li><a class="nav_button">SUV</a></li>
        <li><a class="nav_button">Truck</a></li>
    </ul>
</nav>